<% if current_user == message.user %>
  <div class="mycomment">
    <p><%= message.content %></p>
  </div>
<% else %>
  <div class="balloon6">
    <div class="faceicon">
      <% if message.user.picture? %>
        <%= image_tag message.user.picture.url %>
      <% else %>
        <%= image_tag "ahiru.png" %>
      <% end %>
    </div>
    <div class="chatting">
      <div class="saysname"><%= message.user.name %></div>
      <div class="says">
        <p><%= message.content %></p>
      </div>
    </div>
  </div>
<% end %>
